/*
====================================================================
	                        Safewox CONTACT
====================================================================
*/

@import url(/src/app.css);

/*
====================================================================
	                        Safewox Start Here
====================================================================
*/

#contact nav ul li {
    justify-content: space-between;
    font-size: 16px;
    font-weight: 600;
    color: #5A5656;
}

