/*
====================================================================
	                        Safewox CONTACT
====================================================================
*/

@import url(/src/app.css);

/*
====================================================================
	                        Safewox Start Here
====================================================================
*/

#contact nav ul li {
    justify-content: space-between;
    font-weight: 600;
    color: #5A5656;
}

#contact section {
    display: flex;
    gap: 150px;
}

#contact section .icon-wrapper {
    width: 443px;
    height: 1200px;
    background-color: #F1B36B;
    position: relative;
}

#contact section .icon-wrapper::before {
    content: '';
    width: 100%;
    height: 100px;
    position: absolute;
    background: #F1B36B;
    top: -90px;
    z-index: -1;
}

#contact section .icon-wrapper .image-container {
    display: flex;
    justify-content: center;

}

#contact section .icon-wrapper .image-container img {
    width: 200px;
    position: absolute;
    top: 300px;
}

section .icon-wrapper .container-fit {
    display: flex;
    align-items: center;
    transform: rotate(90deg);
    position: absolute;
    bottom: 300px;
    right: -130px;
}

#contact section .icon-wrapper .container-fit p {
    color: #706F6F;
    margin: 0px 5px;
}

#contact section .icon-wrapper .line {
    width: 200px;
    height: 2px;
    background-color: #EF8E1D;
}

#contact section .icon-wrapper .coloured-icons {
    position: absolute;
    bottom: 100px;
    right: 25px;
}

#contact section .icon-wrapper .coloured-icons img {
    margin-left: 15px;
}

#contact section .contact-wrapper {
    margin-top: 120px;
}

#contact section .contact-wrapper h3 {
    font-weight: 600;
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
}

#contact section .contact-wrapper p {
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    color: #828282;
    margin-bottom: 40px;
}

#contact section .contact-wrapper .flex {
    display: flex;
    justify-content: space-evenly;
    justify-items: center;
    align-items: center;
    margin-bottom: 80px;
}

#contact section .contact-wrapper .flex .txt-display {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    text-align: center;
}

#contact section .contact-wrapper .flex .txt-display span {
    font-weight: 600;
    font-size: 17px;
    color: #4F4F4F;
}

#contact section .contact-wrapper .input-wrapper input {
    font-size: 17px;
    font-weight: 400;
    width: 550px;
    border-top: none;
    border-left: none;
    border-right: none;
    margin-bottom: 40px;
    border-bottom: 1px solid #E0E0E0;
    ;
    padding: 5px;
}

#contact section .contact-wrapper .input-wrapper input:focus {
    outline: none;
}

#contact section .contact-wrapper .input-wrapper .btn {
    width: 292px;
    height: 62px;
    font-weight: 600;
    font-size: 20px;
    color: white;
    background: #F9A543;
    border: none;
    justify-self: center;
    grid-column: span 2;

}

