:root {
    --orange: #F9A543;
    --white: #ffff;
    --grey: #191919;
    --light-grey: #969892;
    --ash: #D9D9D9;
}

/*
====================================================================
	                        General Style
====================================================================
*/

@media (max-width: 768px) {

    p {
        font-size: 15px !important;
    }
    input, select, option, textarea{
        font-size: 13px!important;
    }
    h1{
        font-size: 25px !important;
        line-height: 40px !important;
    }
}

/*
====================================================================
	                        Safewox NAVBAR & FOOTER
====================================================================
*/

@media (max-width: 1454px) {
    nav {
        padding: 20px 40px;
    }
}

@media (max-width: 1280px) {
    nav {
        padding: 20px 5%;
    }

    footer .middle .txt {
        text-align: center;
        width: 90%;
    }
}

@media (max-width: 768px) {
    .current::after {
        display: none;
    }

    nav .ham-menu {
        display: block;
    }

    .hide {
        display: none;
    }

    nav {
        position: relative;
        padding: 25px 15px;
    }

    nav img {
        width: 150px;
    }

    nav ul {
        background: var(--grey);
        position: absolute;
        top: 0;
        left: 0;
        padding: 130px 0;
        width: 100%;
        height: 100vh;
        text-align: center;
        gap: 0;
        flex-direction: column;
    }

    nav {
        /* background: #55555533;
        backdrop-filter: blur(5px); */
        background: #191919;
        position: fixed;
        width: 100%;
        z-index: 999;
    }

    nav ul li {
        border-bottom: 0.5px #555555 solid;
        padding: 20px 0;
        width: 100%;
        font-size: 20px;
    }

    nav ul li:nth-child(4) {
        border: none;
    }

    nav .btn {
        background: linear-gradient(to right, #fddb92, #F9A543, #ff9720);
        margin-top: 50px;
        font-size: 20px !important;
        width: 100%;
    }

    nav .ham-menu {
        z-index: 999;
    }

    footer .middle .links p {
        font-size: 13px !important;
    }

    footer .middle .txt p{
        font-size: 13px !important;
    }
}

@media (max-width: 487px){
    .phone-email{
        flex-direction: column;
        align-items: center;
        gap: 1em;
    }
}

@media (max-width: 481px) {
    footer {
        height: fit-content;
        padding: 40px 6%;
    }

    

    footer .top hr {
        display: none;
    }

    footer .middle .links {
        gap: 10px;
    }

    footer .middle .txt {
        text-align: center;
        width: 100%;
    }

    footer .bottom p {
        text-align: center;
    }
}




/*
====================================================================
	                        Safewox HOME
====================================================================
*/
@media (max-width: 1454px) {

    #home .hero {
        padding: 100px 40px 120px;
    }

    #home .hero .txt h1 {
        width: 100%;
    }

    #home .section1 {
        padding-right: 40px;
    }

    #home .section1 .img {
        width: 55%;
    }

    #home .section2 .cards .card {
        width: 307px;
    }

    #home .section3 {
        padding: 0 40px;
    }

    #home .section4 {
        margin: 0 40px 100px 40px;
    }

    #home .section5 {
        padding: 50px 60px 100px
    }
}


@media (max-width: 1280px) {

    #home .hero {
        padding: 100px 5% 120px;
    }

    #home .hero .txt {
        width: 60%;
    }

    #home .hero .txt h1 {
        width: 100%;
    }

    #home .section1 .img .eclipse {
        left: -247px;
        top: 105px;
    }

    #home .section1 .img .ill {
        right: -44px;
    }

    #home .section1,
    /* .section2, */
    #home .section3,
    #home .section5 {
        padding: 5%;
    }

    #home .section2 .cards .card {
        width: 270px;
    }

    /* #home .section4 {
        margin: 0 5%;
    } */
}

@media (max-width: 1024px) {
    #home .hero {
        padding: 40px 80px 80px 80px;
    }

    #home .hero .txt {
        width: 80%;
    }

    #home .hero .txt h1 {
        width: 100%;
    }

    #home .section1 {
        display: flex;
        flex-direction: column;
        height: fit-content;
        padding: 100px 100px 100px px 0px;
        justify-content: space-between;
        margin: 70px 0px 100px;
    }

    #home .section1 .img {
        display: none;
    }

    #home .section1 .txt {
        width: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #home .section1 .txt .semi-heading {
        text-align: center;
    }

    #home .section2 {
        margin-bottom: 80px;
    }

    #home .section2 .cards .card {
        width: 310px;
    }

    #home .section3 {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 50px 0;
    }

    #home .section3 .vec {
        display: none;
    }

    #home .section3 .head {
        margin: 0;
        width: 80%;
        margin-bottom: 30px;
        text-align: center;
    }

    #home .section3 .cards .card {
        width: 100%;
    }

    #home .section5 .flex {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 30px;
    }

    #home .section5 .flex .container {
        margin-bottom: 40px;
    }

    #home .section5 form .input:nth-child(1),
    #home .section5 form .input:nth-child(2) {
        width: 100%;
    }
}

@media (max-width: 768px) {

    #home .wrapper {
        background-position: right;
    }

    #home .hero {
        padding: 150px 5% 120px;
    }

    #home .hero .txt {
        text-align: center;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #home .hero .txt h1 {
        font-size: 35px;
        line-height: 50px;
    }

    #home .hero .txt .cta {
        flex-direction: column;
        gap: 10px;
    }

    /* Section-1 */
    #home .section1 {
        flex-direction: column;
        padding: 20px;
    }

    #home .section1 .txt {
        width: 100%;
    }

    #home .section1 .img {
        display: none;
    }

    /* Section-2 */
    #home .section2::before,
    #home .section2::after {
        display: none;
    }

    #home .section2 .cards .card {
        width: 340px;
    }

    #home .section3 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0 5%;
        position: relative;
        margin: 170px 0;
    }
}

@media (max-width: 687px){
    #home .section4 h1{
        width: unset;
    }

    #home .section4 p{
        width: unset;
    }
}

@media (max-width: 569px) {
    #home .hero .txt {
        width: 100%;
    }

    #home .section1 .txt h1 {
        line-height: 41px;
    }

    #home .section2 .cards {
        padding: 0 5%;
    }

    #home .section2 .cards .card {
        width: 100%;
    }

    #home .section3 .head {
        width: 100%;
    }

    #home .section3 .head p {
        font-size: 20px;
        line-height: 28px;
    }

    #home .section3 .cards {
        display: flex;
        flex-direction: column;
    }

    #home .section4 {
        margin: 0;
        margin-bottom: 100px;
        padding: 20px 5% 40px;
        border-radius: 0;
    }

    #home .section4 h1 {
        font-size: 25px;
        width: 90%;
        margin-bottom: 14px;
    }

    #home .section4 P {
        width: 98%;
        margin-bottom: 28px;
    }

    #home .section4 form {
        flex-direction: column;
    }

    #home .section4 form input {
        height: 45px;
        width: 100%;
        font-size: 14px;
        margin-bottom: 15px;
        font-weight: normal;
    }

    #home .section4 form .btn {
        width: 171px;
        height: 49px;
    }

    #home .section5 form {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 57px 57px 57px 179px 81px;
        grid-gap: 20px;
    }

    #home .section5 form .input:nth-child(1) {
        grid-column: span 2;
    }

    #home .section5 form .input:nth-child(2) {
        grid-column: span 2;
    }

    #home .section5 .flex .container .txt .con .cons {
        width: 240px;
    }
}




/*
====================================================================
	                        Safewox ABOUT
====================================================================
*/

@media (max-width: 1454px) {
    #about .section1 {
        padding: 100px 40px;
    }

    #about .section2 {
        padding: 0 40px;
    }

    #about .section3 {
        margin: 100px 40px
    }
}

@media (max-width: 1280px) {

    #about .hero .head {
        width: 50%;
    }

    #about .section1 img {
        width: 560px;
        height: 607.68px;
    }
}

@media (max-width: 1024px) {
    #about .section1 {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #about .section1 .txt {
        width: 100%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    #about .section3 .txt {
        width: 45%;
    }

    #about .section3 .txt h1,
    #about .section3 .txt p {
        width: 100%;
    }

    #about .section3 form {
        grid-template-columns: 200px 200px;
        width: 50%;
    }
}

@media (max-width: 768px) {
    #about .hero {
        height: 376px;
    }

    #about .hero .head {
        margin-top: 70px;
        width: 90%;
    }

    #about .hero .head h1 {
        font-size: 40px;
    }

    #about .section1 {
        padding: 60px 40px 100px;
    }

    #about .section1 .txt h1 {
        font-size: 35px;
    }

    #about .section2 .head h1 {
        font-size: 35px;
    }

    #about .section2 .txt::before {
        display: none;
    }

    #about .section2 .txt .dot::before {
        display: none;
    }

    #about .section2 .txt .point {
        flex-direction: column;
    }

    #about .section2 .txt .point:nth-child(2n+2) {
        flex-direction: column;
    }

    #about .section2 .txt .point .contxt {
        text-align: center;
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-bottom: 30px;
    }

    #about .section2 .txt .point .contxt h1 {
        font-size: 30px;
    }

    #about .section2 .txt .point .contxt p {
        width: 90%;
    }

    #about .section3 {
        height: fit-content;
        flex-direction: column;
        padding-bottom: 40px;
    }

    #about .section3 .txt {
        width: 100%;
    }

    #about .section3 form {
        grid-template-columns: 100% 100%;
    }
}

@media (max-width: 481px) {
    #about .hero .head h1 {
        font-size: 35px;
    }

    #about .section1 img {
        width: 100%;
        height: fit-content;
    }

    #about .section1 {
        padding: 60px 20px 100px;
    }

    #about .section1 .txt h1 {
        width: 100%;
    }

    #about .section2 {
        padding: 0 20px;
    }

    #about .section2 .txt .point .contxt p {
        width: 100%;
    }

    #about .section2 .txt .point img {
        width: 100%;
    }

    #about .section3 {
        padding: 20px 25px;
        /* margin: 100px 20px; */
        margin: 100px 0;
        border-radius: 0;
        padding-bottom: 40px;
    }

    #about .section3 form {
        grid-template-columns: 100% 90%;
    }

    #about .section3 form input:nth-child(1),
    #about .section3 form input:nth-child(2),
    #about .section3 form input:nth-child(3),
    #about .section3 form input:nth-child(4),
    #about .section3 form input:nth-child(6) {
        grid-column: span 2;
    }
}



/*
====================================================================
	                        Safewox SERVICE
====================================================================
*/

@media (max-width: 1454px) {
    #service .section1 .card {
        padding: 100px 100px 200px;
    }
}

@media (max-width: 1280px) {
    #service .section1 .card {
        padding: 100px 50px 200px;
    }

    #service .section2 {
        margin: 100px 50px;
    }
}

@media (max-width: 1024px) {
    #service .section1 .card .img .ill {
        width: 90%;
    }
}

@media (max-width: 768px) {
    #service .hero {
        padding-top: 193px;
    }

    #service .hero .head {
        width: 90%;
    }

    #service .section1 .card {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 100px 50px 80px;
    }

    #service .section1 .card:nth-child(2n+2) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 100px 50px 80px;
    }

    #service .section1 .card .img {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #service .section1 .card .img .ill {
        width: 90%;
        height: fit-content;
        margin-bottom: 20px;
    }

    #service .section1 .card .img .eclipse,
    #service .section1 .card .img .ry {
        display: none;
    }

    #service .section1 .card .txt {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
}

@media (max-width: 481px) {
    #service .hero .head h1 {
        font-size: 35px;
    }

    #service .hero .head {
        width: 100%;
        padding: 0 20px;
    }

    #service .section1 .card {
        padding: 100px 20px 50px;
    }

    #service .section1 .card:nth-child(2n+2) {
        padding: 100px 20px 50px;
    }

    #service .section1 .card .txt h1 {
        font-size: 35px;
    }

    #service .section2 {
        height: fit-content;
        margin: 100px 0;
        padding: 20px 20px 40px;
        border-radius: 0;
    }

    #service .section2 .txt h1,
    #service .section2 .txt p {
        width: 100%;
    }
}



/*
====================================================================
	                        Safewox Contact
====================================================================
*/
@media (max-width: 1280px) {
    #contact section .icon-wrapper {
        display: block;
    }
}

@media (max-width: 1024px) {
    #contact section .contact-wrapper {
        padding-right: 40px;
    }
}

@media (max-width: 768px) {
    #contact nav ul li{
        color: var(--white);
    }

    #contact section {
        gap: none;
    }

    #contact section .icon-wrapper {
        display: none;
    }

    #contact section .contact-wrapper {
        margin: 150px auto 50px;
        padding: 40px;
    }

    #contact section .contact-wrapper .input-wrapper input {
        width: 100%;
    }

    #contact section .contact-wrapper h3 {
        display: flex;
        justify-content: center;
        font-size: 25px;
        margin-bottom: 5px;
    }

    #contact section .contact-wrapper p {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 80%;
        margin: 0 auto 40px;
        font-size: 14px;
    }

    #contact section .contact-wrapper .flex .txt-display span {
        font-size: 16px;
    }

    #contact section .contact-wrapper .flex {
        gap: 5px !important;
        margin-bottom: 30px;
    }

    #contact section .contact-wrapper .input-wrapper input {
        width: 100%;
        font-size: 13px;
    }

    #contact section .contact-wrapper .flex .txt-display {
        margin-left: 30px;
    }

    #contact section .contact-wrapper .input-wrapper .btn {
        font-size: 16px;
        height: 50px;
    }
}

@media (max-width: 481px) {
    #contact section .contact-wrapper .flex {
        flex-direction: column;
        gap: 20px;
        align-items: flex-start;
    }

    #contact section .contact-wrapper .flex .txt-display {
        margin: 0;
        text-align: left;
        flex-direction: row;
        align-items: center;
        gap: 10px;
    }

    #contact section .contact-wrapper .flex .txt-display div {
        /* background: #191919; */
        width: 51px;
        height: 51px;
        padding: 10px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #contact section .contact-wrapper .input-wrapper .btn {
        width: 100%;
    }
}